<div calss="row">
    <footer>Copyright 2020 Ninja Smoothies</footer>
    <!-- Optional JavaScript -->
</div>
</div>

<script>
    function showError(err) {
        let errorAlertElement = document.querySelector("#error_alert")
        if (err) {
            errorAlertElement.innerHTML = `<p>${err}</p>`
            errorAlertElement.style.display = "block"
        } else {
            errorAlertElement.innerHTML = ""
            errorAlertElement.style.display = "none"
        }
    }

    showError(null)
</script>
</body>

</html>