<%- include('partials/header'); -%>

    <div class="row">


        <div class="float-left">
            <form id="signinForm">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="password" type="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>

    <script>
        let form = document.querySelector("#signinForm")
        form.addEventListener("submit", async(event) => {
            try {
                event.preventDefault()
                let user = {
                    email: form.email.value,
                    password: form.password.value
                }
                console.log(user)
                let resp = await fetch("http://localhost:3000/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(user)
                })
                let data = await resp.json()
                console.log(data)
            } catch (err) {
                console.log(err)
            }
        })
    </script>


    <%- include('partials/footer'); -%>